.catalog__button {
  line-height: 0;
  padding: 0;

  &:hover {
    background-color: @green-h;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--all {
    line-height: 40px;
    text-decoration: none;
    color: @grey;
    background-color: @grey-f;

    &:hover {
      background-color: @grey-h;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
    }
  }

  @media (min-width: @tablet-width) {
    width: 248px;

    &--extra {
      width: 632px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 168px;

    &--extra {
      width: 244px;
    }
  }
}
