.catalog__item {
  min-height: 190px;

  &--all {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: @tablet-width) {
    min-height: 430px;
    width: 324px;
    margin-top: 140px;
    text-align: center;

    background-color: @basic-grey;

    &--all {
      background: none;
      border: 2px solid @basic-grey;
    }
  }

  @media (min-width: @desktop-width) {
    width: 245px;
  }
}
