.catalog__item-headline {
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: @dark-grey;
  width: 76px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 174px;
    margin: 0 auto;
    text-align: center;
    margin-top: 34px;
    margin-bottom: 21px;
  }

  @media (min-width: @desktop-width) {
    width: 145px;
    margin-top: 42px;
  }
}
