.catalog__table-list {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    border-bottom: 1px solid @grey-c;
    padding-top: 7px;
    padding-bottom: 9px;

    &:first-child {
      padding-top: 0;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 4px;
    width: 170px;
  }
}
