.catalog__pic {
  width: 140px;
  height: 144px;

  @media (min-width: @tablet-width) {
    &--small {
      width: 324px;
      height: 174px;
      position: relative;
      top: @tablet-margin-pic-s;
      margin-bottom: @tablet-margin-pic-s;
    }

    &--big {
      width: 324px;
      height: 208px;
      position: relative;
      top: @tablet-margin-pic-b;
      margin-bottom: @tablet-margin-pic-b;
    }
  }

  @media (min-width: @desktop-width) {
    &--small {
      width: 245px;
      height: 174px;
      position: relative;
      top: @desktop-margin-pic-s;
      margin-bottom: @desktop-margin-pic-s;
    }

    &--big {
      width: 245px;
      height: 208px;
      position: relative;
      top: @desktop-margin-pic-b;
      margin-bottom: @desktop-margin-pic-b;
    }
  }
}
