.catalog__item-wrapper {
  width: 140px;
  display: flex;
  flex-direction: column;
  align-content: stretch;

  @media (min-width: @tablet-width) {
    width: 250px;
  }

  @media (min-width: @desktop-width) {
    width: 180px;
  }
}
