.catalog__table-list {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    border-bottom: 1px solid @special_grey;
    padding-top: 7px;
    padding-bottom: 9px;
  }

  @media (min-width: @desktop-width) {
    width: 180px;
  }
}
