.catalog__item-desc {
  display: flex;
  flex-direction: row;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    align-items: center;
    align-content: stretch;
    margin-bottom: 30px;
  }
}
