.contacts__map-wrapper {
  display: none;
  width: 320px;
  height: 362px;
  position: relative;
  margin: 0 auto;

  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 139px;
    left: 134px;
    width: 57px;
    height: 53px;
    z-index: 5;
    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (min-width: @tablet-width) {
    width: 768px;
    height: 400px;

    &::before {
      top: 146px;
      left: 333px;
      width: 113px;
      height: 106px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 1440px;

    &::before {
      top: 131px;
      left: 908px;
      width: 113px;
      height: 106px;
    }
  }
}
