.contacts__wrapper {
  width: 280px;
  min-height: 114px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: center;

  @media (min-width: @tablet-width) {
    justify-content: space-between;
    width: 625px;
    min-height: 200px;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    padding-left: 75px;
    padding-right: 89px;
    position: relative;
    bottom: -95px;
    left: -325px;
    width: 570px;
    height: 201px;
    z-index: 2;
    background-color: @white;
  }
}
