.contacts__address {
  font-family: "Arial", "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  font-size: 14px;
  line-height: 20px;
  color: @grey;
  margin: 0;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    margin: 0;
    width: 159px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
    width: 155px;
  }
}
