.copy__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 163px;
    height: 34px;
  }
}
