.desc__wrap {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin-bottom: 47px;
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    width: 1220px;
  }
}
