.desc__headline {
  display: block;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  font-size: 36px;
  line-height: 40px;
  margin-top: 27px;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
