.desc__item-num {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    position: absolute;
    z-index: -20;
    font-size: 280px;
    line-height: 280px;
    color: @grey-f;
    right: 0;
  }
}
