.desc__item {
  margin-bottom: 20px;
  min-height: 60px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;

    width: 60px;
    height: 60px;

    background-color: @green;
  }

  &--healthy::before {
    background-image: url("../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--form::before {
    background-image: url("../img/advantage-powder@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--eat::before {
    background-image: url("../img/advantage-dining@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--time::before {
    background-image: url("../img/advantage-clock@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-resolution: 2dppx) {
    &--healthy::before {
      background-image: url("../img/advantage-leaf@2x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 50px 50px;
    }

    &--form::before {
      background-image: url("../img/advantage-powder@2x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 50px 50px;
    }

    &--eat::before {
      background-image: url("../img/advantage-dining@2x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 50px 50px;
    }

    &--time::before {
      background-image: url("../img/advantage-clock@2x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 50px 50px;
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    text-align: left;
    min-height: 280px;
    width: 249px;
    margin: 0;
    margin-bottom: 37px;

    &--time {
      margin-bottom: 0;
      margin-left: 30px;
    }

    &--eat {
      margin-bottom: 0;
    }

    &--form {
      margin-left: 30px;
    }

    &::before {
      top: 40px;
      width: 80px;
      height: 80px;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}
