.example__text {
  font-family: "Arial", "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  color: @grey;

  margin-bottom: 25px;
  margin-top: 33px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 63px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    width: 436px;
    margin: 0;
    margin-bottom: 69px;
  }
}
