.example__costs {
  font-size: 14px;
  line-height: 20px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 174px;
    text-align: right;
    margin: 0;
    padding-top: 10px;
  }

  @media (min-width: @desktop-width) {
    width: auto;
    min-height: 0;
    padding: 0;
  }
}
