.example__costs {
  font-size: 14px;
  line-height: 20px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 174px;
    text-align: right;
    margin: 0;
    padding-top: 10px;

    & span {
      display: block;
      margin-bottom: 9px;
    }
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 327px;
    min-height: 0;
    padding: 0;
  }
}
