.extra__gift {
  margin-top: 39px;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin-top: 69px;
    margin-bottom: 76px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}
