.extra__gift-text {
  font-family: "Arial", "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @white;

  width: 161px;
  margin: 0 auto;
  padding-top: 186px;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: 0;
    margin-left: 423px;
    padding-top: 71px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding-top: 185px;
    margin-left: 41px;
  }
}
