.form__label {
  font-size: 16px;
  line-height: 18px;
  color: @grey;
  padding-bottom: 13px;

  &--cat-prog {
    color: @dark-grey;
    line-height: 18px;

    padding-bottom: 25px;
  }

  &--add {
    color: @black;
    padding-bottom: 25px;
  }
}
