.form__icon {
  position: absolute;
  fill: @dark-grey;

  &--email {
    right: 16px;
  }

  &--tel {
    right: 13px;
  }

  @media (min-width: @tablet-width) {
    &--email {
      right: 20px;
    }

    &--tel {
      right: 17px;
    }
  }
}
