.form__check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:checked + .form__label--add::after {
    transform: scale(1);
    animation-name: rotate;
    animation-duration: 1s;
  }

  & + .form__label--add:hover::before {
    border-color: @radio-hover;
  }

  & + .form__label--add:active::before,
  & + .form__label--add:active::after,
  & + .form__label--add:active {
    opacity: 0.3;
  }
}
