.form__comment-area {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: @grey;


  width: 280px;
  height: 150px;
  margin-left: 13px;
  padding-left: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
  border: 1px solid @grey-i;
  box-sizing: border-box;
}
