.form__inform {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  border: none;

  @media (min-width: @desktop-width) {
    width: 570px;
    margin: 0;
    justify-content: space-between;
  }
}
