.form__check {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;

  margin-right: 16px;
  vertical-align: middle;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}
