.form__radio {
  display: none;

  &:checked + .form__label--cat-prog::after {
    transform: scale(1);
  }

  & + .form__label--cat-prog:hover::before {
    border-color: @radio-hover;
  }

  & + .form__label--cat-prog:active::before,
  & + .form__label--cat-prog:active::after,
  & + .form__label--cat-prog:active {
    opacity: 0.3;
  }
}
