.form__sub {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 523px;
    margin: 0;
    margin-bottom: 72px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 830px;
    margin-bottom: 82px;
  }
}
