.form__comment-area {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: @grey;
  width: 100%;
  height: 150px;
  padding-left: 15px;
  padding-top: 13px;
  padding-right: 12px;
  border: 1px solid @grey-i;
  outline: none;
  resize: none;

  &:hover {
    border-color: @special-grey;
  }

  &:focus {
    border: 1px solid transparent;
    box-shadow: inset 0 0 0 2px @grey;
    animation-name: outline;
    animation-duration: 2s;
  }

  &:active {
    border: 1px solid transparent;
    box-shadow: inset 0 0 0 2px @grey;
    animation-name: outline;
    animation-duration: 2s;
  }

  @media (min-width: @tablet-width) {
    height: 174px;
    padding-left: 19px;
    padding-top: 10px;
    padding-right: 19px;
  }
}
