.form__button {
  &:hover {
    background-color: @green-h;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: @tablet-width) {
    width: 282px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
  }
}
