.form__radio {
  margin: 0;
  padding: 0;
  margin-right: 15px;
  width: 30px;
  height: 30px;
  vertical-align: middle;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    margin-left: 28px;
    margin-right: 20px;
  }
}
