.form__check {
  display: none;

  &:checked + .form__label--add::after {
    transform: scale(1);
  }

  & + .form__label--add:hover::before {
    border-color: @radio-hover;
  }

  & + .form__label--add:active::before,
  & + .form__label--add:active::after,
  & + .form__label--add:active {
    opacity: 0.3;
  }
}
