.form__option {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  border: none;

  label::before,
  label::after {
    content: "";
    position: absolute;
    border-radius: 50%;
  }

  label::before {
    left: -45px;
    width: 30px;
    height: 30px;
    border: solid 1px @special-grey;
  }

  label::after {
    left: -37px;
    width: 14px;
    height: 14px;
    background-color: @green;
    transition-duration: 0.3s;
    transform: scale(0);
  }

  input[type="radio"]:checked + label::after {
    transform: scale(1);
  }

  @media (max-width: @mobile-width-only) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 200vw;
      top: 0;
      left: -40vw;
      height: 1px;
      background-color: @light-grey;
    }

    &::after {
      content: "";
      position: absolute;
      width: 200vw;
      bottom: 0;
      left: -40vw;
      height: 1px;
      background-color: @light-grey;
    }
  }

  @media (min-width: @tablet-width) {
    border-bottom: none;
    border: 1px solid @grey-i;

    label::before {
      left: -60px;
      width: 40px;
      height: 40px;
    }

    label::after {
      left: -49px;
      width: 18px;
      height: 18px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    margin: 0;
  }
}
