.main-nav__toggle {
  position: absolute;
  display: block;
  width: 24px;
  height: 16px;
  top: -41px;
  left: 259px;
  border: none;
  background-color: @white;
  padding: 0;


  @media (min-width: @tablet-width) {
    display: none;
  }
}
