.page-footer__copy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;

  @media (min-width: @tablet-width) {
    width: 163px;
    margin-top: 0;
  }
}
