.page-headline {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
  color: @black;
  width: 280px;
  margin: 0 auto;

  &--catalog {
    padding-top: 27px;
    padding-bottom: 41px;
    border-top: 1px solid @light-grey;
    border-bottom: 1px solid @light-grey;
  }

  &--program {
    margin-top: 27px;
    margin-bottom: 37px;
  }

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;

    width: 708px;
    margin-top: 65px;

    &--catalog {
      border: none;
    }

    &--program {
      margin-top: 65px;
      margin-bottom: 54px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    margin-top: 114px;
  }
}
