.page-headline {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
  color: @black;

  &--catalog {
    border-top: 1px solid @light-grey;
    border-bottom: 1px solid @light-grey;
  }
}
