.page-footer__logo-text {
  display: block;
  width: 124px;
  margin: 0 auto;
  margin-top: 39px;
  margin-bottom: 32px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}
