.page-footer__copy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  border-top: 1px solid @light-grey;

  @media (min-width: @tablet-width) {
    padding: 0;
    border-top: none;
  }
}
