.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 236px;
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 708px;
    min-height: 34px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 61px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}
