.program__wrapper {
  width: 240px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 52px;
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    width: 570px;
    padding-left: 52px;
  }
}
