.program__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;

  color: #444444;

  padding-right: 13px;
  padding-bottom: 23px;

  border-bottom: 1px solid #d9d9d9;
}
