.program__item {
  width: 280px;
  margin-bottom: 20px;
  min-height: 266px;

  background-color: @basic-grey;

  @media (min-width: @tablet-width) {
    min-height: 372px;
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
  }
}
