.program__item {
  width: 280px;
  margin-bottom: 20px;
  min-height: 266px;
  background-color: @grey-f;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    min-height: 372px;
    width: 708px;
    margin: 0;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    margin: 0;
  }
}
