.program {
  width: 280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 22px;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 1220px;
  }
}
