.program__wrapper {
  width: 240px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 594px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    width: 457px;
  }
}
