.program__text {
  font-family: "Arial", "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  color: @grey;

  margin: 0;
  padding-bottom: 23px;

  border-bottom: 1px solid @light-grey;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 52px;
    min-height: 96px;
    padding: 0;
    border: none;
  }
}
