.program__text {
  font-family: "Arial", "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  color: @grey;

  padding-right: 13px;
  padding-bottom: 23px;

  border-bottom: 1px solid @light-grey;
}
