.program__link {
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: @black;
  margin-top: 19px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    display: block;
    top: -2px;
    left: 100px;
    width: 32px;
    height: 18px;
    background: url("../img/icon-right-arrow-long.svg") no-repeat;
    background-position: left;
    background-size: 24px 11px;
    transition: 0.6s ease;
  }

  &:hover::after {
    background: url("../img/icon-right-arrow-verylong.svg") no-repeat;
    background-position: left;
    background-size: 32px 11px;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin: 0;

    &::after {
      top: 5px;
      left: 130px;
    }

    &:hover::after {
      top: 5px;
      left: 130px;
    }
  }
}
