.promo {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
