.promo__button {
  font-size: 14px;

  @media (min-width: @tablet-width) {
    order: 2;
    width: 244px;
    height: 54px;
    margin-top: 20px;
    z-index: 2;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}
