.promo__headline {
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: @white;
  width: 249px;
  margin-top: 27px;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: @black;
    width: 414px;
    margin-top: 64px;
    margin-bottom: 41px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 40px;
    margin-top: 111px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 50vw;
      height: 696px;
      background: @background url("../img/index-background-desktop@1x.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;
      z-index: -1;
      top: -226px;
      left: 530px;
    }

    @media (min-resolution: 2dppx) {
      &::before {
        background: @background url("../img/index-background-desktop@2x.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 720px auto;
      }
    }
  }
}
