.slider__check {
  display: none;
  cursor: pointer;

  &:checked + .slider__select::after {
    left: 0;
    animation-name: slider;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
  }

  @media (min-width: @tablet-width) {
    &:checked + .slider__select::after {
      left: 180px;
      animation-name: tablet;
      animation-duration: 0.6s;
      animation-timing-function: ease-in;
    }
  }
}
