.slider__range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 228px;
  height: 40px;
  margin: 0 auto;
  margin-top: 23px;
  padding-left: 16px;
  padding-right: 12px;

  @media (min-width: @tablet-width) {
    width: 572px;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 64px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 572px;
    margin-top: 35px;
    margin-left: 77px;
  }
}
