.slider__select {
  display: inline-block;
  position: relative;
  cursor: pointer;

  &::before,
  &::after {
    display: block;
    position: absolute;
    content: "";
  }

  &::before {
    width: 84px;
    height: 14px;
    top: -10px;
    left: -42px;
    border: 1px solid @special-grey;
    border-radius: 6px;
    background-color: @white;
  }

  &::after {
    width: 35px;
    height: 6px;
    top: -6px;
    left: -36px;
    background-color: @green;
    border-radius: 6px;
  }

  @media (min-width: @tablet-width) {
    &::before {
      width: 428px;
      height: 6px;
      top: 0;
      left: -214px;
      border-radius: 6px;
      background-color: #dcdcdc;
    }

    &::after {
      width: 34px;
      height: 34px;
      top: -15px;
      left: -214px;
      border-radius: 50%;
      border: 1px solid @special-grey;
      background-color: @white;
      background-image: url("../img/slider-control.svg");
      background-size: 8px 8px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
