.slider__pic {
  width: 320px;
  height: 240px;

  &--slim {
    display: none;
  }

  @media (min-width: @tablet-width) {
    width: 708px;
    height: 517px;
    text-align: center;
    position: relative;
    top: -191px;
    margin-bottom: -191px;
  }

  @media (min-width: @desktop-width) {
    width: 650px;
    height: 517px;
  }
}
