.slider__item {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 708px;
    position: relative;
    top: -167px;
    margin-bottom: -167px;
  }

  @media (min-width: @desktop-width) {
    top: 0;
    margin: 0;
    width: 690px;
  }
}
