.stats__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 124px;
  height: 56px;

  border: 1px solid @special-grey;
  border-radius: 3px;

  @media (min-width: @tablet-width) {
    width: 162px;
    height: 72px;
  }
}
