// Начните писать стили здесь
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff"), url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@import "variables.less";
@import "page-body.less";
@import "page-header.less";
@import "site-list__item.less";
@import "promo.less";
@import "promo__headline.less";
@import "visually-hidden.less";
@import "promo__pic";
@import "button.less";
@import "promo__button.less";
@import "promo__slogan.less";
@import "program.less";
@import "program__item.less";
@import "program__headline.less";
@import "program__text.less";
@import "program__link.less";
@import "desc.less";
@import "desc__list.less";
@import "desc__headline.less";
@import "desc__item.less";
@import "desc__text.less";
@import "page-footer__wrapper.less";
@import "social__list.less";
@import "social__item.less";
@import "copy__link.less";
@import "page-headline.less";
@import "catalog__list.less";
@import "catalog__item.less";
@import "catalog__item-headline.less";
@import "catalog__table.less";
@import "catalog__button.less";
@import "catalog__legend.less";
@import "example__text.less";
@import "stats__desc.less";
@import "example__costs.less";
@import "example.less";
@import "slider__button.less";
@import "contacts__offer.less";
@import "contacts__address.less";
@import "main-nav__list.less";
@import "extra__headline.less";
@import "extra__list.less";
@import "extra__item-headline.less";
@import "extra-table__item.less";
@import "promotion.less";
@import "promotion__text.less";
@import "form__headline.less";
@import "form__inform.less";
@import "form__option.less";
@import "form__contacts.less";
@import "form__title.less";
@import "form__comment-area.less";
@import "form__comment.less";
@import "form__add.less";
@import "form__legend.less";
@import "form__label.less";
@import "form__input.less";
@import "form__radio.less";
@import "form__check.less";
@import "main-nav.less";
@import "main-nav__toggle.less";
@import "promo__link.less";
@import "contacts__wrapper.less";
@import "example__wrapper.less";
@import "example__headline.less";
@import "program__wrapper.less";
@import "catalog__wrapper.less";
@import "catalog__item-desc.less";
@import "extra__wrapper.less";
@import "extra__item.less";
@import "slider__list.less";
@import "site-list__link.less";
@import "catalog__table-list.less";
@import "catalog__pic.less";
@import "catalog__item-wrapper.less";
