@white: #ffffff;
@grey: #444444;
@black: #000000;
@green: #68b738;
@light-grey: #d9d9d9;
@dark-grey: #222222;
@grey-f: #f2f2f2;
@grey-c: #c4c4c4;
@grey-e: #eaeaea;
@grey-i: #e7e7e7;
@background: #5eaa2f;
@special-grey: #cdcdcd;
@grey-menu: #e6e6e6;
@green-h: #5eaa2f;
@grey-h: #ebebeb;
@grey-plus: #d3d3d3;
@error: #ff8282;
@radio-hover: #bababa;
@special-grey-2: #666666;

@mobile-width-only: 767px;
@tablet-width: 768px;
@desktop-width: 1440px;

@tablet-margin-pic-s: -45px;
@tablet-margin-pic-b: -81px;
@desktop-margin-pic-s: -54px;
@desktop-margin-pic-b: -88px;
