@keyframes outline {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}

@keyframes chpunk {
  0% {
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes slider {
  from {
    left: -36px;
  }

  to {
    left: 0;
  }
}

@keyframes tablet {
  from {
    left: -214px;
  }

  to {
    left: 180px;
  }
}
